<div *ngIf="list !== ''" class="container">
  <div>
    <button type="button" class="form-button" mat-stroked-button color="accent" (click)="showNewForm = true">New</button>
  </div>
  <mat-card *ngIf="showNewForm" class="form-card">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Properties">
          <form class="form-in-tab" [formGroup]="formGroupNew">
            <mat-form-field class="full-width-input">
              <mat-label>Name</mat-label>
              <input placeholder="Name" matInput formControlName="name" />
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <mat-label>Link</mat-label>
              <input placeholder="Link" matInput formControlName="link" />
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <mat-label>Code</mat-label>
              <input placeholder="Link" matInput formControlName="code" />
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <mat-label>Frequency</mat-label>
              <mat-select formControlName="freq">
                <mat-option value="day">Per Day</mat-option>
                <mat-option value="halfday">Per Half Day</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <mat-label>Termination</mat-label>
              <mat-select formControlName="terminate">
                <mat-option value="view">After View</mat-option>
                <mat-option value="click">After Click</mat-option>
                <mat-option value="action">After Action</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <mat-label>Valid From</mat-label>
              <input placeholder="Valid From" type="datetime-local" min="2000-01-01T00:00" max="2099-12-31T23:59" matInput formControlName="startTime" />
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <mat-label>Valid To</mat-label>
              <input placeholder="Valid To" type="datetime-local" min="2000-01-01T00:00" max="2099-12-31T23:59" matInput formControlName="endTime" />
            </mat-form-field>
            <mat-checkbox class="full-width-input" formControlName="disabled">Disabled</mat-checkbox>
            <button type="button" class="form-button" mat-stroked-button color="accent" (click)="newPopup()">Submit</button>
            <button type="button" class="form-button" mat-stroked-button color="accent" (click)="showNewForm = false">Cancel</button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>

  <mat-table #table multiTemplateDataRows cdkDropList [cdkDropListData]="popups" (cdkDropListDropped)="dropPopup($event)" [dataSource]="popups">
    <ng-container matColumnDef="link">
      <mat-header-cell *matHeaderCellDef>Link</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span>{{ row.link }}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon *ngIf="row.disabled" class="status-icon" color="accent">visibility_off</mat-icon>
        <mat-icon *ngIf="!row.disabled" class="status-icon" color="primary">visibility</mat-icon>
        <span>{{ row.name }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
        <div class="element-detail" [@detailExpand]="row === expandedRow ? 'expanded' : 'collapsed'">
          <mat-card class="form-card">
            <mat-card-content>
              <mat-tab-group>
                <mat-tab label="Properties">
                  <form class="form-in-tab" [formGroup]="formGroup">
                    <div class="image-input full-width-input">
                      Popup Image
                      <berry-image-uploader resourcetype="popup" [resourceid]="row?.id" [hash]="row?.image" (imageChange)="changePopup($event)"></berry-image-uploader>
                    </div>
                    <mat-form-field class="full-width-input">
                      <mat-label>Name</mat-label>
                      <input placeholder="Name" matInput formControlName="name" />
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                      <mat-label>Link</mat-label>
                      <input placeholder="Link" matInput formControlName="link" />
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                      <mat-label>Code</mat-label>
                      <input placeholder="Link" matInput formControlName="code" />
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                      <mat-label>Frequency</mat-label>
                      <mat-select formControlName="freq">
                        <mat-option value="day">Per Day</mat-option>
                        <mat-option value="halfday">Per Half Day</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                      <mat-label>Termination</mat-label>
                      <mat-select formControlName="terminate">
                        <mat-option value="view">After View</mat-option>
                        <mat-option value="click">After Click</mat-option>
                        <mat-option value="action">After Action</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                      <mat-label>Valid From</mat-label>
                      <input placeholder="Valid From" type="datetime-local" min="2000-01-01T00:00" max="2099-12-31T23:59" matInput formControlName="startTime" />
                    </mat-form-field>
                    <mat-form-field class="full-width-input">
                      <mat-label>Valid To</mat-label>
                      <input placeholder="Valid To" type="datetime-local" min="2000-01-01T00:00" max="2099-12-31T23:59" matInput formControlName="endTime" />
                    </mat-form-field>
                    <mat-checkbox class="full-width-input" formControlName="disabled">Disabled</mat-checkbox>
                    <button type="button" class="form-button" mat-stroked-button color="accent" (click)="updatePopup()">Submit</button>
                    <button type="button" class="form-button" mat-stroked-button color="accent" (click)="deletePopup()">Delete</button>
                  </form>
                </mat-tab>
              </mat-tab-group>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row cdkDrag *matRowDef="let row; columns: displayedColumns;" class="element-row expandable" [class.expanded-row]="expandedRow === row" [cdkDragData]="row" (click)="selectPopup(row)"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></mat-row>
  </mat-table>
</div>
