<div class="container">
  <div>
    <button type="button" class="form-button" mat-stroked-button color="accent" (click)="showNewForm = true">New</button>
  </div>
  <mat-card *ngIf="showNewForm" class="form-card">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Properties">
          <form class="form-in-tab" [formGroup]="formGroupNew">
            <mat-form-field class="full-width-input">
              <mat-label>Name</mat-label>
              <input placeholder="Name" matInput formControlName="name" />
            </mat-form-field>
            <button type="button" class="form-button" mat-stroked-button color="accent" (click)="newAuthority()">Submit</button>
            <button type="button" class="form-button" mat-stroked-button color="accent" (click)="showNewForm = false">Cancel</button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>

  <mat-table matSort multiTemplateDataRows [dataSource]="data">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
        <div class="element-detail" [@detailExpand]="row === expandedRow ? 'expanded' : 'collapsed'">
          <mat-card class="form-card">
            <mat-card-content>
              <mat-tab-group>
                <mat-tab label="Properties">
                  <form class="form-in-tab" [formGroup]="formGroup">
                    <mat-form-field class="full-width-input">
                      <mat-label>Name</mat-label>
                      <input placeholder="Name" matInput formControlName="name" />
                    </mat-form-field>
                    <button type="button" class="form-button" mat-stroked-button color="accent" (click)="updateAuthority()">Submit</button>
                    <button type="button" class="form-button" mat-stroked-button color="accent" (click)="deleteAuthority()">Delete</button>
                  </form>
                </mat-tab>
              </mat-tab-group>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let i = dataIndex" class="element-row expandable" [class.expanded-row]="expandedRow === row" (click)="selectAuthority(row)"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']; let i = dataIndex" class="detail-row" [class.expanded-row]="row === expandedRow"></mat-row>
  </mat-table>

  <mat-paginator *ngIf="data.page$ | async as page" [length]="page.page.totalElements" [pageSize]="page.page.size" [pageIndex]="page.page.number" [hidePageSize]="true" (page)="data.fetch($event.pageIndex)"></mat-paginator>
</div>
