:host {
  height: 100%;
}
.container {
  display: flex;
  height: auto;
  min-height: 100%;
}

.form-card {
  margin: 1rem 2rem;
  width: calc(100% - 4rem);
}
.form-button {
  margin: 1rem 2rem;
}
.inline-form-field {
  padding: 0 1rem 0 0;
}
.form-in-card {
  margin: 1rem 2rem;
}
.form-in-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  margin: 1rem 2rem;
}
.full-width-input {
  width: 100%;
}
.full-width-input-add {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.full-width-input-add-icon {
  width: 48px;
  height: 48px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.status-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.image-input {
  color: rgba(0, 0, 0, 0.54);
  padding-right: 1.25em;
  padding-bottom: 1.25em;
  max-width: 100%;
}
.template-thumb-option {
  height: auto !important;
  text-align: center;
}
.template-thumb {
  width: 225px;
}

.cdk-table {
  width: 100%;
  border-width: 1px;
}
.cdk-row.element-row:not(.expanded-row):hover {
  background-color: whitesmoke;
}
.cdk-row.element-row.expandable .cdk-cell {
  border-bottom-width: 1px;
}
.cdk-row.element-row.expandable.expanded-row .cdk-cell {
  border-bottom-width: 0;
}
.cdk-row.detail-row {
  min-height: 0;
}
.cdk-row.detail-row .cdk-cell {
  border-bottom-width: 0;
}
.cdk-row.detail-row.expanded-row .cdk-cell {
  border-bottom-width: 1px;
}
.cdk-cell .element-detail {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0.5;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
